body {
    margin: 0;
    background-color: white;
    font-family: 'TT Lakes';
    height: 100%;
}

@font-face {
    font-family: 'TT Lakes';
    src: local("TT Lakes Regular"),
        url('../font/TTLakes-Regular.woff') format("woff"),
        url('../font/TTLakes-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: local("TT Lakes Medium"),
        url('../font/TTLakes-Medium.woff') format("woff"),
        url('../font/TTLakes-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: local("TT Lakes Bold"),
        url('../font/TTLakes-Bold.woff') format("woff"),
        url('../font/TTLakes-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.main-container {
    width: 320px;
}

.header {
    min-height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: white;
    flex-wrap: nowrap;
}

.fixed-block {
    width: 320px;
    position: fixed;
    left: 0;
    top: 30px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0px;
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: filter 0.3s ease-in-out;
    /* Плавный переход для свойства filter */
}

.button:hover {
    filter: brightness(0.8);
    /* При наведении изменяем яркость */
}

.button--item1 {
    background-image: url("../img/burger.png");
    margin-top: 15px;
    margin-left: 20px;
}

.logo {
    width: 98px;
    height: 52px;
    background-image: url('../img/Groupa.png');
    margin-top: 18px;
    margin-left: 15px;
}

.button--item2 {
    background-image: url("../img/search.png");
    margin-top: 15px;
    margin-left: 80px;
}

.main-section__list {
    list-style-type: none;
    padding: 0;
}

.main-section__list li {
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 24px;
    font-size: 16px;
    color: #1B1C21;
}

.main-section__list {
    display: block;
    padding: 5px;
    transition: 0.3s ease;
}

.main-section__list li:first-of-type {
    margin-bottom: 10px;
    margin-top: 25px;
    color: #7E7E82;
}

.main-section__list li:first-of-type::before {
    content: "";
    position: absolute;
    top: 105px;
    bottom: 0;
    left: 1px;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
}

.button--item3 {
    width: 40px;
    height: 40px;
    margin-top: 300px;
    margin-left: 24px;
}

.button--item4 {
    width: 40px;
    height: 40px;
    margin-top: -39px;
    margin-left: 80px;
}

.button--item5 {
    width: 40px;
    height: 40px;
    margin-top: -39px;
    margin-left: 135px;
}

.footer__contact-list {
    list-style-type: none;
    padding: 0;
}

.footer__contact-list li {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: left;
    font-weight: 400;
    margin-left: 24px;
    margin-top: 30px;
}

.footer__mail {
    display: flex;
    margin-top: 20px;
    margin-left: 24px;
    color: black;
}

.footer__number {
    display: flex;
    font-family: TT Lakes;
    font-size: 24px !important;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-weight: 700 !important;
    margin-top: 10px;
    margin-left: 24px;
    color: black;
}

.footer__lang-list {
    list-style-type: none;
    padding: 0;
}

.footer__lang-item {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    display: flex;
    flex-wrap: nowrap;
}

.footer__lang-item_gray {
    color: #7E7E82 !important;
    margin-top: 50px;
}

.footer__lang-item_en {
    margin-top: -24px;
    margin-left: 60px;
}

.footer__lang-item_ch {
    margin-top: -24px;
    margin-left: 100px;
}

@media only screen and (max-height: 768px) {
    .button--item3 {
        width: 40px;
        height: 40px;
        margin-top: 30px;
        margin-left: 24px;
    }

    .button--item4 {
        width: 40px;
        height: 40px;
        margin-top: -39px;
        margin-left: 80px;
    }

    .button--item5 {
        width: 40px;
        height: 40px;
        margin-top: -39px;
        margin-left: 135px;
    }
}