body {
    margin: 0;
    background-color: white;
    font-family: 'TT Lakes';
    height: 100%;
}

@font-face {
    font-family: 'TT Lakes';
    src: local("TT Lakes Regular"),
        url('../font/TTLakes-Regular.woff') format("woff"),
        url('../font/TTLakes-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: local("TT Lakes Medium"),
        url('../font/TTLakes-Medium.woff') format("woff"),
        url('../font/TTLakes-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: local("TT Lakes Bold"),
        url('../font/TTLakes-Bold.woff') format("woff"),
        url('../font/TTLakes-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.main-container {
    width: 320px;
}

.header {
    min-height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: white;
    flex-wrap: nowrap;
}

.fixed-block {
    width: 320px;
    position: fixed;
    left: 0;
    top: 30px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0px;
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: filter 0.3s ease-in-out;
    /* Плавный переход для свойства filter */
}

.button:hover {
    filter: brightness(0.8);
    /* При наведении изменяем яркость */
}

.button--item1 {
    background-image: url("../img/burger.png");
    margin-top: 15px;
    margin-left: 20px;
}

.logo {
    width: 98px;
    height: 52px;
    background-image: url('../img/Groupa.png');
    margin-top: 18px;
    margin-left: 15px;
}

.button--item2 {
    background-image: url("../img/search.png");
    margin-top: 15px;
    margin-left: 80px;
}




.nav__list--indent {
    margin-bottom: 268px;
}

.nav__list--reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item--margin-b {
    margin-left: 14px;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
}

.nav__item--margin-b:first-child {
    margin-top: 30px;
}

.nav__link {
    position: relative;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

a {
    text-decoration: none;
}



/* Эффекты на ссылках списков */
.nav__link--effect:hover {
    color: #7e7e82;
}

.nav__link--effect:focus::before {
    content: "";
    color: #7e7e82;
    position: absolute;
    top: -4px;
    left: -24px;
    display: inline-block;
    background-image: url("img/active-field.svg");
    width: 4px;
    height: 32px;
}

.nav__link--effect:focus {
    color: #7e7e82;
}

.nav__link--effect:active {
    color: #7e7e82;
}


.highlighted-image {
    display: none;
    position: absolute;
    top: -5px;
    left: -21px;
}

/* Стили для эффекта при наведении */
.nav__link--effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

/* Показываем изображение при наведении */
.nav__link--effect:hover .highlighted-image {
    display: inline-block;
}

/* Показываем изображение при активации (нажатии) */
.nav__link--effect:active .highlighted-image {
    display: inline-block;
}

















.button--item3 {
    width: 40px;
    height: 40px;
    margin-top: 300px;
    margin-left: 24px;
}

.button--item4 {
    width: 40px;
    height: 40px;
    margin-top: -39px;
    margin-left: 80px;
}

.button--item5 {
    width: 40px;
    height: 40px;
    margin-top: -39px;
    margin-left: 135px;
}

.footer__contact-list {
    list-style-type: none;
    padding: 0;
}

.footer__contact-list li {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: left;
    font-weight: 400;
    margin-left: 24px;
    margin-top: 30px;
}

.footer-address--effect:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.footer-address__mail {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

a {
    text-decoration: none;
}

.footer-address__mail--display-b {
    display: block;
    margin-bottom: 8px;
    margin-left: 19px;
    padding: 5px;
    margin-top: 10px;
}



.footer-address__tel--display-b {
    display: block;
    margin-bottom: 30px;
    margin-left: 14px;
    padding: 10px;
}

.footer-address__tel {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.footer__button-lang {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer__button-lang--indent-l {
    margin-left: 19px;
    padding: 5px;
    color: #7e7e82;
    max-width: 40px;
    min-height: 40px;
}


.footer__button-lang--indent {
    margin-bottom: 18px;
    padding: 5px;
    max-width: 40px;
    min-height: 40px;
}

.footer__button-lang:hover {
    opacity: 0.5;
    transition: 0.3s;
}




@media only screen and (max-height: 768px) {
    .button--item3 {
        width: 40px;
        height: 40px;
        margin-top: 30px;
        margin-left: 24px;
    }

    .button--item4 {
        width: 40px;
        height: 40px;
        margin-top: -39px;
        margin-left: 80px;
    }

    .button--item5 {
        width: 40px;
        height: 40px;
        margin-top: -39px;
        margin-left: 135px;
    }
}